
res/drawable-hdpi/ic_settings_ui.png

res/drawable-hdpi/ic_settings_ui.png

res/drawable-hdpi/ic_settings_ui.png

res/drawable-mdpi/ic_settings_ui.png

res/drawable-xhdpi/ ic_settings_ui.png

res/drawable-xhdpi/ic_settings_ui.png
